<h1>QuestionsController#answer</h1>
<p>Find me in app/views/questions/QuestionsController#answer.html.erb</p>
<p><%= @query %></p>
<p><%= @answer %></p>
<p><%= link_to "Ask a new question", ask_path %></p>
